HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary editor files
*.swp
*~
bash.exe.stackdump

# frontend
frontend/node_modules

frontend/panel/node_modules
frontend/panel/dist

frontend/sudoku/node_modules
frontend/sudoku/dist

frontend/connect4/node_modules
frontend/connect4/dist

frontend/battleships/node_modules
frontend/battleships/dist

