[Unit]
Description=GamesJ Spring Boot Backend
After=network.target

[Service]
Environment=SPRING_DATASOURCE_URL=jdbc:mysql://barryonweb.com:3306/db_games
Environment=SPRING_DATASOURCE_USERNAME=barry75
Environment=SPRING_DATASOURCE_PASSWORD=abc123
WorkingDirectory=/var/www/games/gamesj
ExecStart=/usr/bin/java -jar /var/www/games/gamesj/gamesj-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always
RestartSec=10
User=barry75
Environment=JAVA_OPTS="-Xms256m -Xmx512m"
Environment=SPRING_PROFILES_ACTIVE=prod

[Install]
WantedBy=multi-user.target