spring:
  application:
    name: gamesj
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8082
websocket:
  timeout-mins: 10
  check-interval-sec: 45
useridle:
  timeout-mins: 10
  check-interval-sec: 35
invitation:
  timeout-sec: 15

